.wel {
    background-image: url(/images/img7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: aliceblue;
}

/* body {
    background-image: url(/images/img20.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
} */

.menu {
    background-image: url(/images/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}